<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page {{user.local.email}}</h1>
		<a href="/" class="btn btn-default btn-sm">Home</a>
		<a href="/users/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

				{{#if user.local.email}}
					<p>
						<strong>id</strong>: {{user._id}}<br>
						<strong>email</strong>: {{user.local.email}}<br>
						<strong>password</strong>: {{user.local.password}}
					</p>
					
					<a href="/users/unlink/local" class="btn btn-default">Unlink</a>
				{{else}}
					<a href="/users/connect/local" class="btn btn-default">Connect Local</a>
				{{/if}}

			</div>
		</div>

		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

				<!-- check if the user has this token (is the user authenticated with this social account) -->
				{{#if user.facebook.token}}
					<p>
						<strong>id</strong>: {{user.facebook.id}}<br>
						<strong>token</strong>: {{user.facebook.token}}<br>
						<strong>email</strong>: {{user.facebook.email}}<br>
						<strong>name</strong>: {{user.facebook.name}}<br>
					</p>

					<a href="/users/unlink/facebook" class="btn btn-primary">Unlink</a>
				{{else}}
					<a href="/users/connect/facebook" class="btn btn-primary">Connect Facebook</a>
				{{/if}}

			</div>
		</div>
	</div>
	<div class="row">

		<!-- TWITTER INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

				{{#if user.twitter.token}}
					<p>
						<strong>id</strong>: {{user.twitter.id}}<br>
						<strong>token</strong>: {{user.twitter.token}}<br>
						<strong>display name</strong>: {{user.twitter.displayName}}<br>
						<strong>username</strong>: {{user.twitter.username}}
					</p>

					<a href="/users/unlink/twitter" class="btn btn-info">Unlink</a>
				{{else}}
					<a href="/users/connect/twitter" class="btn btn-info">Connect Twitter</a>
				{{/if}}

			</div>
		</div>

		<!-- GOOGLE INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

				{{#if user.google.token}}
					<p>
						<strong>id</strong>: {{user.google.id}}<br>
						<strong>token</strong>: {{user.google.token}}<br>
						<strong>email</strong>: {{user.google.email}}<br>
						<strong>name</strong>: {{user.google.name}}
					</p>

					<a href="/users/unlink/google" class="btn btn-danger">Unlink</a>
				{{else}}
					<a href="/users/connect/google" class="btn btn-danger">Connect Google</a>
				{{/if}}

			</div>
		</div>
		
		<!-- SPOTIFY INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-success"><span class="fa fa-potify"></span> Spotify</h3>

				{{#if user.spotify.token}}
					<p>
						<strong>id</strong>: {{user.spotify.id}}<br>
						<strong>token</strong>: {{user.spotify.token}}<br>
						<strong>email</strong>: {{user.spotify.email}}<br>
						<strong>name</strong>: {{user.spotify.name}}
					</p>

					<a href="/users/unlink/spotify" class="btn btn-success">Unlink</a>
				{{else}}
					<a href="/users/connect/spotify" class="btn btn-sucess">Connect Spotify</a>
				{{/if}}

			</div>
		</div>
		
		<!-- DEEZER INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-warning"><span class="fa fa-deezer"></span> Deezer</h3>

				{{#if user.deezer.token}}
					<p>
						<strong>id</strong>: {{user.deezer.id}}<br>
						<strong>token</strong>: {{user.deezer.token}}<br>
						<strong>email</strong>: {{user.deezer.email}}<br>
						<strong>name</strong>: {{user.deezer.name}}
					</p>

					<a href="/users/unlink/deezer" class="btn btn-warning">Unlink</a>
				{{else}}
					<a href="/users/connect/deezer" class="btn btn-warning">Connect Deezer</a>
				{{/if}}

			</div>
		</div>
	</div>


</div>
</body>